<div class="max-w-[80%] mx-auto pt-10">
  <div class="flex items-center">
    <h2 class="ml-3 flex-auto text-md font-semibold text-[var(--color-letras)]">
      {{ currentMonth | date : "MMMM yyyy" }}
    </h2>
    <button
      (click)="previousMonth()"
      type="button"
      class="-my-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500"
    >
      <span class="sr-only">Previous month</span>
      <svg
        class="h-5 w-5"
        viewBox="0 0 20 20"
        fill="var(--color-letras)"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
    <button
      (click)="nextMonth()"
      type="button"
      class="-my-1.5 -mr-1.5 ml-2 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500"
    >
      <span class="sr-only">Next month</span>
      <svg
        class="h-5 w-5"
        viewBox="0 0 20 20"
        fill="var(--color-letras)"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>
  <div
    class="mt-5 grid grid-cols-7 text-center font-semibold text-md leading-6 text-[var(--color-letras)]"
  >
    <div>D</div>
    <div>L</div>
    <div>M</div>
    <div>M</div>
    <div>J</div>
    <div>V</div>
    <div>S</div>
  </div>
  <div class="mt-2 grid grid-cols-7 text-sm">
    @for( dayInfo of daysInMonth; let i = $index; track i){
    <div class="p-4 relative">
      <button
        type="button"
        [ngClass]="{
          notThisMonth: dayInfo.monthType === 'prev',
          lasext: dayInfo.monthType === 'next',
          thisMonth: dayInfo.monthType === 'current',
          'highlight-day': isPaseoDay(dayInfo.day),
          'highlight-current-day': isCurrentDay(dayInfo.day),
          'selected-day': selectedDate
            ? selectedDate.getDate() === dayInfo.day
            : ''
        }"
        class="p-1"
        (click)="selectDate(dayInfo)"
      >
        {{ dayInfo.day }}
      </button>
    </div>
    }
  </div>
  <div class="relative">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-[#3450ac]"></div>
    </div>
    <div class="relative flex justify-center">
      <img
        src="../../../assets/Mantra-fondo-flores.jpg"
        alt=""
        class="w-20 rounded-full"
      />
    </div>
  </div>

  <section class="p-2 rounded-lg text-xs">
    <h2
      class="text-base font-semibold leading-6 text-[var(--color-letras)] text-center px-12"
    >
      {{
        selectedMeditation.length > 0
          ? "Meditamos otra vez?"
          : "Nos tomamos un ratito?"
      }}
    </h2>
    <p class="text-center font-semibold text-gray-200"></p>
    <ol class="mt-2 space-y-1 text-sm leading-6 text-gray-500">
      @if(selectedMeditation.length > 0){ @for(meditation of selectedMeditation;
      track meditation){
      <li
        class="group flex items-center space-x-2 rounded-xl px-1 py-2 focus-within:bg-gray-10 bg-gray-100"
      >
        <img
          src="assets/snakes-noback.png"
          alt=""
          class="h-28 flex-none rounded-full"
        />
        <div class="flex-auto">
          <p class="text-[var(--verde-dark)]">Meditación de hoy:</p>
          <p class="mt-0.5">Fecha: {{ meditation.date | date }}</p>

          <p class="mt-0.5">Duración: {{ meditation.duration }} min</p>

          <p class="mt-0.5">Tipo: {{ meditation.type }}</p>
          <p class="mt-0.5">Notas: {{ meditation.notes }}</p>
        </div>
        <div class="relative focus-within:opacity-100 opacity-100">
          <div>
            <button
              (click)="toggleEdit()"
              type="button"
              class="-m-2 flex items-center rounded-full p-1.5 text-gray-500 hover:text-gray-600"
              id="menu-0-button"
              aria-expanded="false"
              aria-haspopup="true"
            >
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"
                />
              </svg>
            </button>
          </div>
          @if(editMode){
          <div
            class="absolute right-0 z-10 mt-2 w-36 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-0-button"
            tabindex="-1"
          >
            <div class="py-1" role="none">
              <button
                (click)="toggleModal(true, meditation)"
                class="block px-4 py-2 text-sm text-gray-700"
                role="menuitem"
                tabindex="-1"
                id="menu-0-item-0"
              >
                Editar
              </button>
            </div>
            <div class="py-1" role="none">
              <button
                (click)="deleteMeditation(meditation._id)"
                class="block px-4 py-2 text-sm text-gray-700"
                role="menuitem"
                tabindex="-1"
                id="menu-0-item-0"
              >
                Eliminar
              </button>
            </div>
          </div>

          }
        </div>
      </li>
      } }@else {
      <li
        class="group flex items-center space-x-2 rounded-xl px-1 py-2 focus-within:bg-gray-10 bg-gray-100"
      >
        <p class="text-center block mx-auto">
          Aún no tienes meditaciones disponibles.
        </p>
      </li>
      }

      <li
        class="group flex items-center space-x-2 rounded-xl px-1 py-2 focus-within:bg-gray-10 bg-gray-100"
      >
        <button
          (click)="toggleModal(true)"
          class="mx-auto bg-[var(--verde-claro)] px-2 py-1 rounded-md text-white"
        >
          New update
        </button>
      </li>
    </ol>
  </section>

  <div
    class="relative z-10"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
    [ngClass]="isVisible ? 'visible' : 'invisible'"
  >
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div
        class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0"
      >
        <div
          class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6"
        >
          <div>
            <div class="mx-auto flex items-center justify-center">
              <img src="assets/relinda-noback.png" alt="" class="w-24" />
            </div>
            <div class="mt-3 sm:mt-5">
              <h3
                class="text-center text-base font-semibold leading-6 text-gray-900"
                id="modal-title"
              >
                Update de hoy
              </h3>

              <form #meditationForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="mt-2 grid grid-cols-2 gap-4">
                  <div class="mx-3">
                    <p class="px-1 text-sm text-gray-500 leading-6">
                      Tiempo (min)
                    </p>
                    <input
                      type="number"
                      class="w-28 rounded-md py-1 px-2 bg-slate-200"
                      name="duration"
                      [(ngModel)]="meditation.duration"
                      #duration="ngModel"
                      required
                    />
                  </div>
                  <div class="">
                    <p class="px-1 text-sm text-gray-500 leading-6">Tipo</p>
                    <select
                      name="type"
                      [(ngModel)]="meditation.type"
                      required
                      #type="ngModel"
                      id=""
                      class="mr-3 bg-slate-200 rounded-md py-1 px-2"
                    >
                      <option value="Vipassana">Vipassana</option>
                      <option value="Body scan">Body scan</option>
                      <option value="Compasión">Compasión</option>
                      <option value="Otro">Otro</option>
                    </select>
                  </div>
                </div>
                <input
                  name="notes"
                  [(ngModel)]="meditation.notes"
                  id=""
                  placeholder="Notas"
                  class="w-[91%] ml-3 my-3 block mx-2 h-auto min-h-12 p-2 rounded-md bg-slate-200"
                />
                <div class="mt-6 grid grid-cols-2 gap-3">
                  <button
                    type="submit"
                    class="w-full justify-center rounded-md bg-[var(--color-primario)] px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                    (click)="toggleModal(false)"
                    [disabled]="meditationForm.invalid"
                  >
                    Guardar
                  </button>
                  <button
                    type="button"
                    class="w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                    (click)="toggleModal(false)"
                  >
                    Cancelar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
