<div
  class="w-full h-screen flex flex-col items-center justify-center bg-[#d4e8dd]"
>
  <h1 class="text-2xl font-semibold text-[var(--color-letras)] mb-6">
    ¿Qué querés trackear hoy?
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <button
      routerLink="/meditation"
      class="bg-white hover:bg-[#fde2cf] text-[#1a1a1a] px-8 py-6 rounded-2xl shadow-md transition-transform transform hover:scale-105 font-medium text-lg"
    >
      🧘 Meditación
    </button>

    <button
      routerLink="/myPeriod"
      class="bg-white hover:bg-[#ffd6e7] text-[#1a1a1a] px-8 py-6 rounded-2xl shadow-md transition-transform transform hover:scale-105 font-medium text-lg"
    >
      🌸 Ciclo menstrual
    </button>
  </div>
</div>
